/* _content/ServerTest.Shared/Component1.razor.rz.scp.css */
.my-component[b-n2szt5sccg] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
